.container {
  padding: 50px 0 100px;
}
.quotes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.quote {
  width: 320px;
}
.author {
  padding-top: 20px;
  display: flex;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
}
.name {
  font-size: 18px;
  font-weight: 600;
}
.title {
  color: #686868;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7em;
}
